img{
	width: 600px;
	height: 300px;
	margin-top: -10px;
	border: 5px solid #0E2453;
	border-radius: 20px;
	/*padding: 20px;*/
}
a{
	/*position: absolute;*/
	/*background: blue;*/
	/*margin top: 100px;*/
}
.line{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.line{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}