@font-face {
    font-family: "Rubik";
    src: url("../../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
    url("../../fonts/subset-FuturaPT-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
    url("../../fonts/subset-FuturaPT-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Futura PT" , sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    background-image: url("img/Lemon Twist.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.heading h1{
    text-align: center;
    font-weight: 700;
}

.img{
    width: 300px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 10px;
}

.img-p-wrapper{
    position: relative;
    background-color: red;
    display: flex;
    align-items: center;
    box-shadow: #33D35E 0px 2px 4px 0px, #2AB6D9 0px 2px 16px 0px;
    /*box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;*/
    border-radius: 10px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.p-wrapper{
    padding: 20px;
}

@media only screen and (max-width: 725px){
    
    body{
        font-size: 10px;
        background-image: url("img/Lemon Twist.jpg");
        background-repeat: repeat;
        background-size: contain;
    }
    
    .img{
        
        border-radius: 10px;
    }
    
    .img-p-wrapper{
        position: relative;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: red;
        /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
        box-shadow: #33D35E 0px 2px 4px 0px, #2AB6D9 0px 2px 16px 0px;
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    }
}